<!DOCTYPE html>
<html>
<head>
  <title>objectsforheads - {{pageTitle}}</title>
  {{#each stylesheets}}
  <link href="/css/{{this}}.css?{{../created}}" rel=stylesheet />
  {{/each}}
</head>
<body>
  {{content}}
</body>
</html>
