<!DOCTYPE html>
<html>
<head>
  <title>objectsforheads - {{pageTitle}}</title>
  {{#each stylesheets}}
  <link href="/css/{{this}}.css?{{../created}}" rel=stylesheet />
  {{/each}}
</head>
<body>
    <div class="h1 page-title"><a href="/">objectsforheads.com</a></div>
  <div class="content">{{content}}</div>
</body>
</html>
