@import './_longshadow.scss';
@import './_vars.scss';

*, *::before, *::after {
    position: relative;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
}

// Site header
@mixin siteHeaderType($isAliased: true) {
    line-height: 0.8;
    font-family: 'Uni 05';
    font-weight: 500;
    letter-spacing: -0.0675rem;
    font-size: 3rem;
    color: $typeColor;
    text-transform: uppercase;
    text-decoration: none;

    @if $isAliased == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
}

.name-shadow {
    @include siteHeaderType;
    @include long-shadow(text, $highlightColor, 625, true, true, left);
}

.name-stroke {
    @include siteHeaderType(false);
    color: $bgColor;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.name-text {
    margin: 0;
    @include siteHeaderType;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
    width: 100%;
}

// When the site header links somewhere (ie. all pages except homepage)
// ✨ animate it ✨
@keyframes YOLOColors {
    0%   {@include long-shadow(text, $accentMagenta, 625, true, true, left);}
    33%  {@include long-shadow(text, $highlightColor, 625, true, true, left);}
    66%  {@include long-shadow(text, $accentYellow, 625, true, true, left);}
    100% {@include long-shadow(text, $accentMagenta, 625, true, true, left);}
}

a.name-shadow {
    background: none;
    transition: all 0ms;

    &:active,
    &:focus,
    &:hover {
        font-weight: 500;
        text-shadow: none;

        .word {
            animation-name: YOLOColors;
            animation-duration: 1500ms;
            animation-iteration-count: infinite;
            animation-timing-function: step-start;
        }

        .word:nth-of-type(1) {
            animation-delay: 0ms;
        }
        .word:nth-of-type(2) {
            animation-delay: -500ms;
        }
        .word:nth-of-type(3) {
            animation-delay: -1000ms;
        }
    }

    // Since we make the first element the a tag,
    // we need to disable pointer events on the elements that stack on top of it
    // (they need to be stacked like this for the aesthetic)
    & ~ .name-stroke {
        pointer-events: none;
    }

    & ~ .name-text {
        pointer-events: none;
    }
}

// Manually writing this part out because compilation strips some necessary hacking
/* 
* Link highlighting doesn't work as expected in safari so provide a safari-specific fallback
* https://browserstrangeness.github.io/css_hacks.html#safari
*/
_::-webkit-full-page-media, _:future, :root main a span { -webkit-box-decoration-break: clone; }

/* Safari! Having issues getting the in-file CSS animation to work; it sticks on the first frame
* Safari users instead get a hot pink link because I want moving squiggly lines
* but don't want to add another span and will give up an arrow to make this happen
*/

/* Prep to shift the squiggly psueudoelement on hover */
@keyframes squiggleWave {
0%   {transform:translateX(0);}
100%  {transform:translateX(-50%);}
}

_::-webkit-full-page-media, _:future, :root nav a {
overflow: hidden;
padding-bottom: 0.125em;
}

_::-webkit-full-page-media, _:future, :root nav a::after {
width: 200%;
top: auto;
bottom: 0;
}

/* Text turns hot pink on hover */
_::-webkit-full-page-media,
_:future,
:root nav a:active,
:root nav a:focus,
:root nav a:hover,
:root footer a:active,
:root footer a:focus,
:root footer a:hover {
color: rgb(231, 34, 205);
}

/* Animate the squiggle on hover */
_::-webkit-full-page-media,
_:future,
:root nav a:active::after,
:root nav a:focus::after,
:root nav a:hover::after,
:root footer a:active::after,
:root footer a:focus::after,
:root footer a:hover::after {
animation: squiggleWave 6000ms linear infinite;
}