
@import '../includes/_vars.scss';

@font-face {
  font-family: 'Volkorn';
  src: url('../assets/fonts/vollkorn-black-webfont.woff2') format('woff2'),
       url('../assets/fonts/vollkorn-black-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Volkorn';
  src: url('../assets/fonts/vollkorn-blackitalic-webfont.woff2') format('woff2'),
       url('../assets/fonts/vollkorn-blackitalic-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Volkorn';
  src: url('../assets/fonts/vollkorn-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/vollkorn-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Volkorn';
  src: url('../assets/fonts/vollkorn-bolditalic-webfont.woff2') format('woff2'),
       url('../assets/fonts/vollkorn-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Volkorn';
  src: url('../assets/fonts/vollkorn-semibold-webfont.woff2') format('woff2'),
       url('../assets/fonts/vollkorn-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Volkorn';
  src: url('../assets/fonts/vollkorn-semibolditalic-webfont.woff2') format('woff2'),
       url('../assets/fonts/vollkorn-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Volkorn';
  src: url('../assets/fonts/vollkorn-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/vollkorn-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Volkorn';
  src: url('../assets/fonts/vollkorn-italic-webfont.woff2') format('woff2'),
       url('../assets/fonts/vollkorn-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Uni 05';
  src: url('../assets/fonts/uni05_53-webfont.woff2') format('woff2'),
       url('../assets/fonts/uni05_53-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Uni 05';
  src: url('../assets/fonts/uni05_63-webfont.woff2') format('woff2'),
       url('../assets/fonts/uni05_63-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic Code';
  src: url('../assets/fonts/nanumgothiccoding-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/nanumgothiccoding-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Uni 05';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  display: block;
  line-height: 1;
}

h1, .h1 {
  font-size: 3rem;
}

body {
  font-family: 'Volkorn';
  line-height: 1.5;
}

// navbar and footer links
nav, footer {
  .nav-link {
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: none;
  }

  a {
    font-family: 'Uni 05';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    color: $typeColor;
    text-decoration: none;
    display: inline-block;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: .125em;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
      background-image: url("../assets/images/squiggle_static.svg");
      background-position: 0 100%;
      background-size: auto 0.25em;
      background-repeat: repeat-x;
    }

    &:hover,
    &:active,
    &:focus {
      outline: 0;
      font-weight: 500;
      white-space: nowrap;
      color: $accentMagenta;
      text-shadow: -2px 2px $highlightColor;

      &::after {
        background-image: url("../assets/images/squiggle.svg");
      }
    }
  }
}

// Only links in main
// Highlighter effect
main {
  a {
    font-family: 'Uni 05';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    font-size: 95%;
    text-decoration: none;
    background-image: -webkit-linear-gradient(left, $bgColor 50%, $accentMagenta 50%, $highlightColor);
    background-size: 201% auto;
    background-position: 0 0;
    transition: background-position 300ms;

    span {
      color: $typeColor;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, $accentMagenta, $highlightColor 50%, $bgColor 50%);
      background-size: 200% auto;
      background-position: 0 0;
      transition: background-position 300ms;
    }
  
    &:active,
    &:focus,
    &:hover {
        outline: 0;
        color: $bgColor;
        background-clip: initial;
        -webkit-text-fill-color: initial;
        background-position: -99% 0;

        span {
          background-position: -100% 0;
        }
    }
  }
}

// Manually writing this part out because compilation strips some necessary hacking
/* 
* Link highlighting doesn't work as expected in safari so provide a safari-specific fallback
* https://browserstrangeness.github.io/css_hacks.html#safari
*/
_::-webkit-full-page-media, _:future, :root main a span { -webkit-box-decoration-break: clone; }

/* Safari! Having issues getting the in-file CSS animation to work; it sticks on the first frame
* Safari users instead get a hot pink link because I want moving squiggly lines
* but don't want to add another span and will give up an arrow to make this happen
*/

/* Prep to shift the squiggly psueudoelement on hover */
@keyframes squiggleWave {
0%   {transform:translateX(0);}
100%  {transform:translateX(-50%);}
}

_::-webkit-full-page-media, _:future, :root nav a,
_::-webkit-full-page-media, _:future, :root footer a {
overflow: hidden;
padding: 0 0 0.2em 2px;
}

_::-webkit-full-page-media, _:future, :root nav a::after,
_::-webkit-full-page-media, _:future, :root footer a::after {
width: 200%;
top: auto;
bottom: 0;
}

/* Animate the squiggle on hover */
_::-webkit-full-page-media,
_:future,
:root nav a:active::after,
:root nav a:focus::after,
:root nav a:hover::after,
:root footer a:active::after,
:root footer a:focus::after,
:root footer a:hover::after {
animation: squiggleWave 6000ms linear infinite;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-type: circle;
  line-height: 1.3;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.25em;
}

code {
  font-family: 'Nanum Gothic Code';
  background: #eee;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0 0.15em;
  color: rgb(70, 70, 70);
}

// TODO: add code highlighting