@import './includes/_longshadow.scss';

// #FFC6C6
$bgColor: rgb(255, 200, 255);

.jumbotron {
    display: flex;
    max-width: 40rem;
  }
.jumbotron-left,
.jumbotron-right {
        flex: 1;
    }

.jumbotron-left {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 3rem 1.5rem 3rem 3rem;
}

.name-shadow {
    line-height: 0.8;
    font-family: 'Uni 05';
    @include long-shadow(text, rgb(83, 244, 255), 600, true, true, left);
    color: rgba(0,0,0,0);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -0.0675rem;
    font-size: 3rem;
}

.name-text {
    margin: 0;
    margin-bottom: 1rem;
    line-height: 0.8;
    font-family: 'Uni 05';
    font-weight: 500;
    letter-spacing: -0.0675rem;
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
    position: absolute;
    top: -0.25rem;
    right: -0.5rem;
}

.name-stroke {
    line-height: 0.8;
    font-family: 'Uni 05';
    font-weight: 500;
    letter-spacing: -0.0675rem;
    font-size: 3rem;
    color: $bgColor;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-link {
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: none;
    line-height: 1.5;
    font-weight: 500;

    &:active,
    &:hover {
        font-weight: 500;
        white-space: nowrap;
        &::before {
            content: '> ';
        }
    }
}

.jumbotron-right {
    text-align: left;
    padding: 3rem 3rem 3rem 1.5rem;
    display: flex;
    align-items: center;
        
    p {
        line-height: 1.3;
        font-size: 1.3rem;
    }
}

@media (max-width: 40rem)  {
    .jumbotron {
        flex-direction: column;
    }
    .jumbotron-left {
        padding: 3rem 3rem 0 3rem;
    }

    .jumbotron-right {
        padding: 3rem;
    }
}

body {
    background: $bgColor;
}