@import './includes/_longshadow.scss';
@import './includes/_vars.scss';

.jumbotron {
    display: flex;
    max-width: 40rem;
  }
.jumbotron-left,
.jumbotron-right {
        flex: 1;
    }

.jumbotron-left {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 1.5rem 2rem 2rem;
}

.name {
    margin-bottom: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: flex-end;
}

.jumbotron-right {
    text-align: left;
    padding: 2rem 2rem 2rem 1.5rem;
    display: flex;
    align-items: center;
        
    p {
        line-height: 1.3;
        font-size: 1.3rem;
    }
}

@media (max-width: 40rem)  {
    .jumbotron {
        flex-direction: column;
    }
    .jumbotron-left {
        padding: 3rem 3rem 0 3rem;
    }

    .jumbotron-right {
        padding: 3rem;
    }
}