
@import '../includes/_vars.scss';

.page {
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 40rem;
    overflow: hidden;
    margin: auto;
}

.name {
    display: inline-block;
    margin-bottom: 2rem;
}

.nav-bar {
    border-top: 1rem solid $typeColor;
    padding: 2rem 0 0 0;

    a {
        font-size: 2rem;
        padding-left: 0.5em;
        margin-right: 0.5em;

        &:active,
        &:focus,
        &:hover {
          background-size: 100% 2rem;
        }
    }
}

.page-title {
    border-top: 0.5rem solid $typeColor;
    margin-top: 2rem;
    padding: 0 2rem 0 0;
    text-align: left;
}

.wrapper {
    flex: auto;
    background: $bgColor;
}

.content {
    text-align: left;
    border-top: 0.25rem solid $typeColor;
    margin-top: 2rem;
    min-width: 36rem;
    padding: 2rem 0 0 0;
}